.content {
  background-color: var(--color-main);
  min-height: 100vh;
  padding: 2rem;
  color: var(--color-text-primary);
  text-align: center;
  position: relative;
}

.tasks {
  background-color: var(--color-secondary);
  width: 80%;
  margin: 5rem auto;
  border-radius: 10px;
  box-shadow: var(--shadow);
  color: var(--color-text-primary);
}

.task-element {
  padding: 2rem;
  color: var(--color-text-primary);
  text-align: start;
}

.first-line {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 3fr 1fr;
  justify-content: space-between;
}

.tasks > *:not(:last-child) {
  border-bottom: 1px solid var(--color-text-primary)
}


.task-description {
  max-height: 50px;
  transition: max-height 0.5s ease;
  overflow: hidden;
  text-align: center;
  margin-top: var(--space-400);
}

.closed {
  max-height: 0;
}

#add-task {
  background-color: var(--color-cta);
  border-radius: 50%;
  color: var(--color-text-primary);
  border: none;
  font-size: var(--font-size-800);
  font-weight: 700;
  display: block;
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  margin-right: 5rem;
  transition: transform 0.3s ease-in-out;
}

#add-task:hover {
  transform: scale(1.2);
}

.delete,
.show-more  {
  font-size: var(--font-size-600);
  background-color: transparent;
  border: none;
}

.fa-caret-up,
.fa-caret-down,
.fa-trash-can {
  pointer-events: none;
}

.check {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-weight: 600;
}

.high-priority {
  background-color: var(--color-high-priority);
}

.important {
  background-color: var(--color-important);
}

.less-important {
  background-color: var(--color-less-important);
}

.defer {
  background-color: var(--color-defer);
}

.task-complete {
  background-color: var(--color-complete);
}

.priorities {
  margin-bottom: 2rem;
}

.priorities > span {
  margin-left: var(--space-600);
  padding: var(--space-400);
  color: var(--color-text-primary);
  border-radius: 10px;
}

.credentials {  
  position: absolute;
  bottom: 0;
  min-width: 90%;
  margin-top: 2rem;
  text-align: center;
}
