.content {
  background-image: url(/src/assets/images/yellow-tiles.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 2rem;
  color: var(--color-text-primary-light);
  text-align: center;
}