.content {
  background-image: url(/src/assets/images/yellow-tiles.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 2rem;
  color: var(--color-text-primary-light);
  text-align: center;
}

.task-description {
  max-height: 50px;
  transition: max-height 0.5s ease;
  overflow: hidden;
}

.closed {
  max-height: 0;
}

.task-element {
  border: 1px solid red;
}


