*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
  line-height: var(--line-height-body);
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  line-height: var(--line-height-headers);
}

h1 {
  font-size: var(--font-size-900);
  font-weight: 900;
}

h2 {
  font-size: var(--font-size-800);
}

h3 {
  font-size: var(--font-size-700);
}

a {
  color: var(--color-text-primary-light);
  text-decoration: none;
  transition: color 200ms;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-primary);
  }
}

li {
  list-style-type: none;
}

button {
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}